# URL of the Hydra public API
URLS_SELF_ISSUER=https://hydra.url

# From the Hydra docs:
# The system secret can only be set against a fresh database. Key rotation is currently not supported. This
# secret is used to encrypt the database and needs to be set to the same value every time the process (re-)starts.
SECRETS_SYSTEM=

# Hydra database
POSTGRES_DB=hydra_db
POSTGRES_USER=hydra_user
POSTGRES_PASSWORD=

# URL of the identity service
ODP_IDENTITY_URL=https://identity.url
